@import url("reset.css");
@import url("nav.css");

body, html {
	overflow: hidden;
	background-color: #ecedee;
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
}

h3 {
	font-size: 60px;
	font-weight: 900;
	color: #434343;
	margin-bottom: 30px;
}

p {
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
}

/* Parallax base styles
--------------------------------------------- */
.parallax {
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-perspective: 1px;
	perspective: 1px;
}

.parallax-group {
	position: relative;
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.layer {
	position: fixed;
	width: 100%;
	min-height: 1000vh;
	background-image: url(../images/illustration-bg-grey.png);
	background-size: 100%;
	background-repeat: repeat-y;
	-webkit-transform: translateZ(-12px) scale(13);
	transform: translateZ(-12px) scale(13);
}

.content {
	position: relative;
	height: auto;
	margin-bottom: 100px;
	background: rgba(255,255,255, 0.95);
	text-align: center;
}

.content::after {
	content: ' ';
	display: table;
	clear: both;
}

/* style the slides
--------------------------------------------- */

#about {
	margin-top: -100vh;
	padding: 8%;
}

#about-wrapper {
	width: 90%;
	margin: 0 auto;
}

#about h1,
#about h2 {
	text-align: left;
	font-weight: 900;
	color: #434343;
}

#about h1 {
	font-size: 130px;
}

#about h2 {
	font-size: 80px;
	margin-bottom: 20px;
}

#about p {
	text-align: left;
	font-size: 20px;
	color: #434343;
	margin-bottom: 10px;
}

#slogan {
	padding: 8%;
}

#slogan h3 {
	color: #434343;
	font-size: 60px;
	font-weight: 300;
	margin: 0 auto;
}

#portfolio {
	padding: 100px 0;
}

#portfolio h4 {
	font-size: 60px;
	font-weight: 900;
	color: #434343;
	margin-bottom: 30px;
}

#portfolio p {
	color: #434343;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
}

#portfolio ul li {
	position: relative;
	float: left;
	width: 20%;
	padding-bottom: 20%;
}

#portfolio ul li a {
	color: #fff;
	left: 2px;
	right: 2px;
	top: 2px;
	bottom: 2px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	transition: all 0.3s;
	background-size: 101%;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#portfolio ul a span {
	display: none;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 1px;
}

#portfolio ul a:hover span {
	display: block;
	position: absolute;
	top: 120px;
	width: 100%;
	z-index: 2;
	text-align: center;
} 

#portfolio ul a:hover {
	background-size: 110%;
}

#portfolio ul a:hover::before {
	display: block;
	content: ' ';
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#portfolio li:nth-child(1) a {
	background-image: url(../images/oppen.jpg);
}

#portfolio li:nth-child(2) a {
	background-image: url(../images/mikroaktiv.jpg);
}

#portfolio li:nth-child(3) a {
	background-image: url(../images/florian.jpg);
}

#portfolio li:nth-child(4) a {
	background-image: url(../images/kt-despicable.jpg);
}

#portfolio li:nth-child(5) a {
	background-image: url(../images/kommoden.jpg);
}

#portfolio li:nth-child(6) a {
	background-image: url(../images/16dager.jpg);
}

#portfolio li:nth-child(7) a {
	background-image: url(../images/wow-ig.jpg);
}

#portfolio li:nth-child(8) a {
	background-image: url(../images/go.jpg);
}

#portfolio li:nth-child(9) a {
	background-image: url(../images/yenga.jpg);
}

#portfolio li:nth-child(10) a {
	background-image: url(../images/kjaer.png);
}

#portfolio p {
	margin-bottom: 60px;
	font-size: 20px;
}

#tools {
	padding: 100px 0;
}

#tools p {
	margin-bottom: 40px;
	font-size: 20px;
}

#tools ul li {
	display: inline-block;
	height: 100px;
	margin: 20px 20px;
}

#tools span {
	display: none;
}

#tools li:nth-child(1) {
	background-image: url(../images/ps.png);
	background-repeat: no-repeat;
	width: 100px;
}

#tools li:nth-child(2) {
	background-image: url(../images/ai.png);
	background-repeat: no-repeat;
	width: 100px;
}

#tools li:nth-child(3) {
	background-image: url(../images/ae.png);
	background-repeat: no-repeat;
	width: 100px;
}

#tools li:nth-child(4) {
	background-image: url(../images/espresso-icon.png);
	background-repeat: no-repeat;
	width: 95px;
}

#tools li:nth-child(5) {
	background-image: url(../images/octocat.png);
	background-repeat: no-repeat;
	width: 117px;
}

#tools li:nth-child(6) {
	background-image: url(../images/wacom.png);
	background-repeat: no-repeat;
	width: 105px;
}

#contact.content {
	margin-bottom: 0;
}

#contact {
	background-color: #434343;
	color: #fff;
	padding: 100px;
}

#contact h3 {
	color: #fff;
}

#contact p {
	margin-bottom: 60px;
	font-size: 20px;
}

#contact ul li {
	display: inline-block;
	text-align: center;
}

#contact ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	height: 100px;
	margin-right: 60px;
	margin-bottom: 60px;
	position: relative;
	background-repeat: no-repeat;
}

#contact li:nth-child(1) a {
	background-image: url(../images/in.png);
	width: 111px;
}

#contact li:nth-child(2) a {
	background-image: url(../images/fb-white-100.png);
	width: 100px;
}

#contact li:nth-child(3) a {
	background-image: url(../images/mail.png);
	width: 156px;
}

#contact li:nth-child(4) a {
	background-image: url(../images/github.png);
	width: 103px;
}

#contact li:nth-child(5) a {
	background-image: url(../images/twitter.png);
	width: 123px;
	margin-right: 0;
}

#contact li a:hover {
	-webkit-transition: background 200ms ease-in 100ms; 
	-moz-transition: background 200ms ease-in 100ms;
	-o-transition: background 200ms ease-in 100ms;
	transition: background 200ms ease-in 100ms;
}

#contact li:nth-child(1) a:hover {
	background-image: url(../images/in-h.png);
	width: 111px;
}

#contact li:nth-child(2) a:hover {
	background-image: url(../images/fb-white-100-h.png);
	width: 100px;
}

#contact li:nth-child(3) a:hover {
	background-image: url(../images/mail-h.png);
	width: 156px;
}

#contact li:nth-child(4) a:hover {
	background-image: url(../images/github-h.png);
	width: 103px;
}

#contact li:nth-child(5) a:hover {
	background-image: url(../images/twitter-h.png);
}

#contact ul li a span {
	display: none;
}




