@import url("reset.css");
@import url("nav.css");

body {
	font-family: 'Roboto', Helvetica, sans-serif;
}

h3 {
	font-size: 60px;
	font-weight: 900;
	color: #434343;
	margin-bottom: 30px;
}

p {
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
}

.content {
	text-align: center;
}
/* flip cards */

.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 25%;
  text-align: center;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ff5078;
}

.card__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__front:hover {
  background-color: rgba(0, 145, 176, .1);
}

/* style the slides
--------------------------------------------- */

#slogan-wrapper {
	clear: left;
}

#slogan {
	padding: 50px;
	background-color: #434343;
}

#slogan h1 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 100;
}

.text-hover a {
	color: #434343;
	text-decoration: none;
}

.text-hover a:hover {
	color: #0091B0;
	position: relative;
	z-index: 21;
}

.text-hover a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #0091B0;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.text-hover a:hover:before {
	left: 0;
	right: 0;
}

.text-hover a:hover {
	color: #0091B0;
	-webkit-transition: color 200ms ease-in 100ms; 
	-moz-transition: color 200ms ease-in 100ms;
	-o-transition: color 200ms ease-in 100ms;
	transition: color 200ms ease-in 100ms;
}

#portfolio {
	padding: 200px 0;
}

#portfolio h4 {
	font-size: 60px;
	font-weight: 900;
	color: #434343;
	margin-bottom: 30px;
}

#portfolio h5 {
	margin-top: 80px;
	font-size: 30px;
	font-weight: 900;
	color: #434343;
	margin-bottom: 30px;
}

#portfolio p {
	color: #434343;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
}

#portfolio ul::after {
	content: '';
	display: table;
	clear: both;
}

#portfolio ul li {
	position: relative;
	float: left;
	width: 20%;
	padding-bottom: 20%;
}

#portfolio ul li a {
	color: #fff;
	left: 2px;
	right: 2px;
	top: 2px;
	bottom: 2px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	transition: all 0.3s;
	background-size: 101%;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#portfolio ul a span {
	display: none;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 1px;
}

#portfolio ul a:hover span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 2;
	text-align: center;
} 

#portfolio ul a:hover {
	background-size: 110%;
}

#portfolio ul a:hover::before {
	display: block;
	content: ' ';
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#portfolio #main-portfolio li:nth-child(1) a {
	background-image: url(../images/oppen.jpg);
}

#portfolio #main-portfolio li:nth-child(2) a {
	background-image: url(../images/mikroaktiv.jpg);
}

#portfolio #main-portfolio li:nth-child(3) a {
	background-image: url(../images/florian.jpg);
}

#portfolio #main-portfolio li:nth-child(4) a {
	background-image: url(../images/kt-despicable.jpg);
}

#portfolio #main-portfolio li:nth-child(5) a {
	background-image: url(../images/kommoden.jpg);
}

#portfolio #main-portfolio li:nth-child(6) a {
	background-image: url(../images/16dager.jpg);
}

#portfolio #main-portfolio li:nth-child(7) a {
	background-image: url(../images/wow-ig.jpg);
}

#portfolio #main-portfolio li:nth-child(8) a {
	background-image: url(../images/go.jpg);
}

#portfolio #main-portfolio li:nth-child(9) a {
	background-image: url(../images/yenga.jpg);
}

#portfolio #main-portfolio li:nth-child(10) a {
	background-image: url(../images/kjaer.png);
}

#portfolio #ne-portfolio li:nth-child(1) a {
	background-image: url(../images/oslo-golfsenter-logo.jpg);
}

#portfolio #ne-portfolio li:nth-child(2) a {
	background-image: url(../images/lokalrorleggeren-logo.jpg);
}

#portfolio #ne-portfolio li:nth-child(3) a {
	background-image: url(../images/lvvs-logo.jpg);
}

#portfolio #ne-portfolio li:nth-child(4) a {
	background-image: url(../images/ungarena-logo.jpg);
}

#portfolio #ne-portfolio li:nth-child(5) a {
	background-image: url(../images/tourdegolf.jpg);
}

#portfolio p {
	margin-bottom: 60px;
	font-size: 20px;
}

#tools {
	background-color: #f3f3f3;
	padding: 200px 0;
}

#tools p {
	margin-bottom: 40px;
	font-size: 20px;
}

#tools ul li {
	display: inline-block;
	height: 100px;
	margin: 20px 20px;
}

#tools span {
	display: none;
}

#tools li:nth-child(1) {
	background-image: url(../images/ps.png);
	background-repeat: no-repeat;
	width: 100px;
}

#tools li:nth-child(2) {
	background-image: url(../images/ai.png);
	background-repeat: no-repeat;
	width: 100px;
}

#tools li:nth-child(3) {
	background-image: url(../images/ae.png);
	background-repeat: no-repeat;
	width: 100px;
}

#tools li:nth-child(4) {
	background-image: url(../images/espresso-icon.png);
	background-repeat: no-repeat;
	width: 95px;
}

#tools li:nth-child(5) {
	background-image: url(../images/octocat.png);
	background-repeat: no-repeat;
	width: 117px;
}

#tools li:nth-child(6) {
	background-image: url(../images/wacom.png);
	background-repeat: no-repeat;
	width: 105px;
}

#contact {
	background-color: #434343;
	color: #fff;
	padding: 200px 0;
}

#contact h3 {
	color: #fff;
}

#contact p {
	margin-bottom: 60px;
	font-size: 20px;
}

#contact ul li {
	display: inline-block;
	text-align: center;
}

#contact ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	height: 100px;
	margin-right: 35px;
	margin-bottom: 35px;
	position: relative;
	background-repeat: no-repeat;
}

#contact li:nth-child(1) a {
	background-image: url(../images/in.png);
	width: 111px;
}

#contact li:nth-child(2) a {
	background-image: url(../images/fb-white-100.png);
	width: 100px;
}

#contact li:nth-child(3) a {
	background-image: url(../images/mail.png);
	width: 156px;
}

#contact li:nth-child(4) a {
	background-image: url(../images/github.png);
	width: 103px;
}

#contact li:nth-child(5) a {
	background-image: url(../images/twitter.png);
	width: 123px;
	margin-right: 0;
}

#contact li a:hover {
	-webkit-transition: background 200ms ease-in 100ms; 
	-moz-transition: background 200ms ease-in 100ms;
	-o-transition: background 200ms ease-in 100ms;
	transition: background 200ms ease-in 100ms;
}

#contact li:nth-child(1) a:hover {
	background-image: url(../images/in-h.png);
	width: 111px;
}

#contact li:nth-child(2) a:hover {
	background-image: url(../images/fb-white-100-h.png);
	width: 100px;
}

#contact li:nth-child(3) a:hover {
	background-image: url(../images/mail-h.png);
	width: 156px;
}

#contact li:nth-child(4) a:hover {
	background-image: url(../images/github-h.png);
	width: 103px;
}

#contact li:nth-child(5) a:hover {
	background-image: url(../images/twitter-h.png);
}

#contact ul li a span {
	display: none;
}


@media (max-width: 967px) {
 	
 	#portfolio ul a span {
 		font-size: 20px;
 	}
 	
 	#portfolio ul li {
 		width: 50%;
 		padding-bottom: 50%;
 	}
 	
 	.card {
 	  padding-bottom: 50%;
 	  width: 50%;
 	}
}


@media (max-width: 750px) {
 
	
	
}


@media (max-width: 612px) {
 	
 	#portfolio ul li {
 		width: 100%;
		padding-bottom: 100%;
 	}
 	
 	#portfolio ul a span {
 	    font-size: 20px;
 	}
 	
 	.card {
 		  padding-bottom: 100%;
 		  width: 100%;
 		}
 	
}

@media (max-width: 492px) {
 	
 	#portfolio h4 {
 		font-size: 50px;
 	} 
}