@import url("reset.css");
@import url("project.css");

#info-container article p {
    padding: 20px 20px 100px 20px;
}

#project-font img {
	width: 15%;
	position: absolute;
	top: 35%;
	left: 5%;
}

#project-logo img {
	position: absolute;
	top: 15%;
	left: 30%;
	width: 40%;
}

#color-profile ul li#color-1 {
	background-color: #1273a3;
}

#color-profile ul li#color-2 {
	background-color: #e05856;
}

#color-profile ul li#color-3 {
	background-color: ##fcfcfc;
}

#color-profile ul li#color-4 {
	background-color: #666666;
}

#color-profile ul li#color-5 {
	background-color: #222222;
}
